/* styles.css */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; 
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}


.navbar {
    display: flex;
    justify-content: left;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Style for the tabs */
.tab {
    position: relative;
    cursor: pointer;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 800px;
    max-height: 300px; /* Set a maximum height for the dropdown content */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Position the dropdown on the right side */
    margin-left: 355px; /* Ensure proper spacing from the tab */ /* Enable vertical scrolling if content exceeds max height */
}

/* Show dropdown content on hover */
.tab:hover .dropdown-content {
    display: flex; /* Display dropdown content as flex on hover */
}

/* Style for the options inside the dropdown */
.options-column {
    flex:250%; /* Each column takes 50% width */
    border-right: 1px solid #ccc; /* Border between columns */
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Style for main options */
.option {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Border between options */
    color: black; /* Main options in red */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Style for option details */
.option-details {
    display: none;
    padding: 10px;
    font-style: italic;
    color: black; /* Details in green */
    flex: 1; /* Take up the whole space in the column */
}

/* Header bar */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.header-title {
  margin: 0;
}

.contact-link {
  color: white;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  width: 280%; 
}


/* Dropdown button */
.dropbtn {
  background-color: #333;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 80%; /* Set width to 80% of the screen size */
  left: 40%;
  transform: translateX(-50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Mega Menu header */
.dropdown-content .header {
  background-color: #333;
  color: white;
  padding: 10px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    color: black;
}

.column a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.column a:hover {
    background-color: #ddd;
}

.right-column {
    display: none;
}

.content.hidden {
    display: none;
}

.left-column:hover + .right-column .content {
    display: none;
}

.left-column:hover + .right-column .content.visible {
    display: block;
}


.title {
    font-size: 24px;
    font-weight: bold;
    color: #009688;
    margin: 20px 0;
    text-align: center; /* Center align the title */
}
.para{
    padding: 20px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    text-align: justify;
}

.about-text {
    font-size: 18px;
    font-weight: bold;
    color: #009688;
    text-align: center; /* Center align the about-text */
}

.border-line {
    width: 75%;
    height: 1px;
    background: #ccc;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 12.5%;
}

.button-container {
            display: flex;
        }
.button-container button {
            flex: 1;
            border-right: 1px solid #000; /* Vertical divider line */
            background-color: #fff; /* Button background color */
            padding: 10px; /* Adjust padding as needed */
            text-align: center; /* Center text */
            cursor: pointer;
        }

.button-container button:last-child {
    border-right: none; /* Remove divider for the last button */
}


.divider::before {
    content: "|"; /* Unicode character for bullet point */
    margin: 30px 10px; /* Adjust spacing between the separator and buttons */
    color: #009688; /* Color of the separator */
    font-size:65px;
}
/* Style for the buttons */
.btn-section {
    display: inline-flex;
    align-items: center;
    outline: 0.3rem solid;
    outline-color: transparent;
    color: #009688; 
    margin-right: 2%;
    margin-left:  2%; /* Adjust margin to separate the first button from the separator */
    margin-top: 200px;
    text-decoration: none; /* Remove default underline */
    padding: 10px 20px; /* Add padding to the buttons */
    border-radius: 5px; 
}

.btn-section:hover {
    background-color: #e0e0e0; /* Change background color on hover */
}

.btn-section:last-child {
    margin-right: 0; /* Remove right margin for the last button */
}
.btn-row {
    display: flex;
    justify-content: center;
    width: 84%;
    margin: 0 auto;
    padding:5px;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text within the button */
    padding: 10px 20px; /* Add padding to the buttons */
    border-radius: 5px; /* Add border radius for rounded corners */
    color: #009688; /* Change text color */
    text-decoration: none; /* Remove default underline */
    margin: 0 10px; 
}
.btn-center:hover {
    background-color: #e0e0e0; /* Change background color on hover */
}


.btn-section {
    display: inline-flex;
    align-items: center;
    outline: 0.3rem solid;
    outline-color: transparent;
    color: #009688; 
    margin-right: 2%;
    margin-left: 2%;
    font-size:17px;
    flex: 1;
    text-align: center;
}

.section-heading{
    margin-left: 7.5%;
    color: #009688;
}
.section-description{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 1%;
    margin-bottom:1%;
}

.divider{
    font-size: 34px;
    margin: 0 10px;
}
.outer-container {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.inner-container {
    display: flex;
    overflow-x: auto;
    width: 97%;
    padding: 20px;
}

.scatter-plot {
    width: 45%;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.tabs {
    padding: 3%;
    width: 85%;
    margin-left: 4.5%;
}
.select-label {
    font-size: 16px;
    margin-top: 10px;
    color: #009688;
    padding: 10px;
    margin-left: 7.5%;
}

.image-dropdown{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-left: 7.5%;
}

#selected-image-container {
    width: 75%;
    height: 40vh; /* 20% of the viewport height */
    overflow: hidden;
    margin-left: 15%;
}

/* Style for the image */
#selected-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.select-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-left: 7.5%;

}

.outer-container.with-shadow {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 8px;
}

/* Added Flexbox styling */
.outer-container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-label,
.select-input {
    margin-bottom: 10px;
}

.scatter-plots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.scatter-plot {
    width: 45%;
    margin-bottom: 20px;
}

.side-by-side-plots {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.tumor-plot,
.normal-plot {
    width: 48%;
}

.comparable-plots {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.tumor-comparable-plot,
.normal-comparable-plot,
.tumor-comparable-rcc-lcc-plot,
.normal-comparable-rcc-lcc-plot {
    width: 48%;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading::before {
    content: 'Loading...'; /* Add loading text */
    text-align: center; /* Center align the text */
    color: #333; /* Set the text color */
}

.loading::after {
    content: ''; /* Hide the default text content */
    display: block;
}

.scatter-plot,
.tumor-plot,
.normal-plot,
.tumor-comparable-plot,
.normal-comparable-plot,
.tumor-comparable-rcc-lcc-plot,
.normal-comparable-rcc-lcc-plot  {
    width: 100%; /* Set width to 100% for responsiveness */
    height: auto; /* Allow height to adjust automatically */
    display: block;

}

.normal-plot,
.normal-comparable-plot {
    width: 48%;
    margin-left: 80px; /* Add margin-left of 80px */
}

.outer-container.with-shadow .scatter-plot,
.outer-container.with-shadow .tumor-plot,
.outer-container.with-shadow .normal-plot,
.outer-container.with-shadow .tumor-comparable-plot,
.outer-container.with-shadow .normal-comparable-plot 
.outer-container.with-shadow .tumor-comparable-rcc-lcc-plo,
.outer-container.with-shadow .normal-comparable-rcc-lcc-plot {
    display: block;
    flex-wrap: wrap; /* Allow plots to wrap to the next line if needed */
    justify-content: center; /* Center align the plots */
    margin: 20px 0; 
}

.scatter-plot,
.tumor-plot,
.normal-plot,
.tumor-comparable-plot,
.normal-comparable-plot,
.tumor-comparable-rcc-lcc-plot,
.normal-comparable-rcc-lcc-plot  {
    max-width: 45%; /* Limit maximum width of each plot */
}

@media screen and (max-width: 992px) {
    .scatter-plot,
    .tumor-plot,
    .normal-plot,
    .tumor-comparable-plot,
    .normal-comparable-plot,
    .tumor-comparable-rcc-lcc-plot,
    .normal-comparable-rcc-lcc-plot  {
        max-width: 100%; /* Set maximum width to 100% on smaller screens */
    }
}
/* Center align the image */
#forest-plot-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#forest-specific-plot-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Set correct width and height */
.forest-plot {
    width: 60%;
    height: 40%;
}

.with-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Footer */
.footer {
    position: static; 
    bottom: 0; 
    background-color: #009688; /* Set the background color to green */
    height: 300px;
    width: 100%;
    color: white; /* Set text color to white */
    padding: 20px 0; /* Add padding to top and bottom */
    z-index: 999;
}

/* Container */
.container {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
    max-width: 100%; /* Set maximum width to 100% */
    margin-left: 9%; /* Adjust margin as needed */
    margin-right: 9%; /* Adjust margin as needed */
}

/* Menu Sections */
.menu-section {
     margin-top: 35px;
    /* margin-right: auto; Add margin to the right to move the section to the left */
    margin-left: 0;  
}

/* Menu Items */
.menu-section ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.menu-section ul li {
    display: block; /* Display menu items as block elements (one under the other) */
    margin-bottom: 10px; /* Add margin between menu items */
}

/* Menu Links */
.menu-section ul li a {
    color: white; /* Set link color to white */
    text-decoration: none; /* Remove underline */
}

/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999; /* Ensure the popup is on top of other content */
}

.popup-overlay:target {
    visibility: visible;
    opacity: 1;
}

/* Popup Content */
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    /* color: #333; */
    color: #009688;

    font-family: Tahoma, Arial, sans-serif;

}

.popup .close {
    font-family: sans-serif;
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 19px;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #009688;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    color: #000000;
    
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}

.copyright {
    position: static;
    color: #000000;
    line-height: 40px;
    font-size: 12px;
    margin-top:20px;
    margin-left: 9%;
    text-align: left;
    bottom: 0;
    left: 5px;
}