/* styles.css */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #009688;
    margin: 20px 0;
    text-align: center; /* Center align the title */
}
.para{
    padding: 20px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    text-align: justify;
}

.about-text {
    font-size: 18px;
    font-weight: bold;
    color: #009688;
    text-align: center; /* Center align the about-text */
}

.border-line {
    width: 75%;
    height: 1px;
    background: #ccc;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 12.5%;
}

.button-container {
            display: flex;
        }
.button-container button {
            flex: 1;
            border-right: 1px solid #000; /* Vertical divider line */
            background-color: #fff; /* Button background color */
            padding: 10px; /* Adjust padding as needed */
            text-align: center; /* Center text */
            cursor: pointer;
        }

.button-container button:last-child {
    border-right: none; /* Remove divider for the last button */
}
.btn-row {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding:5px;
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-section {
    outline: 0.3rem solid;
    outline-color: transparent;
    color: #009688; 
    margin-right: 2%;
    margin-left: 2%;

    font-size:17px;
}

.section-heading{
    margin-left: 7.5%;
    color: #009688;
}
.section-description{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 1%;
    margin-bottom:1%;
}

.divider{
    font-size: 34px;
}
.outer-container {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.inner-container {
    display: flex;
    overflow-x: auto;
    width: 97%;
    padding: 20px;
}

.scatter-plot {
    width: 45%;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.tabs {
    padding: 3%;
    width: 85%;
    margin-left: 4.5%;
}
.select-label {
    font-size: 16px;
    margin-top: 10px;
    color: #009688;
    padding: 10px;
    margin-left: 7.5%;
}

.image-dropdown{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-left: 7.5%;
}

#selected-image-container {
    width: 75%;
    height: 40vh; /* 20% of the viewport height */
    overflow: hidden;
    margin-left: 15%;
}

/* Style for the image */
#selected-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.select-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-left: 7.5%;

}

.outer-container.with-shadow {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: 8px;
}

/* Added Flexbox styling */
.outer-container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-label,
.select-input {
    margin-bottom: 10px;
}

.scatter-plots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.scatter-plot {
    width: 45%;
    margin-bottom: 20px;
}

.side-by-side-plots {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.tumor-plot,
.normal-plot {
    width: 48%;
}

.comparable-plots {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.tumor-comparable-plot,
.normal-comparable-plot {
    width: 48%;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading::before {
    content: 'Loading...'; /* Add loading text */
    text-align: center; /* Center align the text */
    color: #333; /* Set the text color */
}

.loading::after {
    content: ''; /* Hide the default text content */
    display: block;
}

.scatter-plot,
.tumor-plot,
.normal-plot,
.tumor-comparable-plot,
.normal-comparable-plot {
    display: none;
}

.outer-container.with-shadow .scatter-plot,
.outer-container.with-shadow .tumor-plot,
.outer-container.with-shadow .normal-plot,
.outer-container.with-shadow .tumor-comparable-plot,
.outer-container.with-shadow .normal-comparable-plot {
    display: block;
}


/* Center align the image */
#forest-plot-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#forest-specific-plot-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Set correct width and height */
.forest-plot {
    width: 60%;
    height: 40%;
}

.with-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}